body {
  font-family:Tahoma,Arial,Verdana,Tahoma,helvetica,Geneva;
  margin:0px;
  font-size:13px;
  color:#212121;
  font-style:italic;
}


a {color:#1F5DB2;}
a img {border:0;}


p {padding:0;margin:20px;}
table {margin:20px;;}
h1,h2,h3,h4,h5,h6 {padding:0;margin:20px;color:#29B1CB;font-weight:normal;}
h1 {font-size:24px;border-bottom:1px solid #808080;}
h2 {font-size:20px;}
h3 {font-size:16px;}

ul {margin:0;padding:0;}
li {list-style-type:none;background-image:url("images/liPen.png");line-height:23px;vertical-align:middle;background-repeat:no-repeat;background-position:left center;padding-left:20px;margin:10px 20px;}


p.warning{font-weight:bold;color:#ff0000;}
input.submitButton {background-color:#ff0000;color:#fff;border:0;padding:5px;
                    -webkit-border-radius: 8px 8px 8px 8px;-moz-border-radius: 8px 8px 8px 8px;border-radius:  8px 8px 8px 8px;
                    -moz-box-shadow: 0 0 5px #888;-webkit-box-shadow: 0 0 5px#888;box-shadow: 0 0 5px #888;  }

.bila {color:#fff;}
.cerna {color:#000;}
.cernaSvetlejsi {color:#333;}
.cervena {color:#ff0000;}
.modra {color:#1F5DB2;}
.modraSvetlejsi {color:#D0DEEA;}
.orange {color:#FF6F00;}
.zelena {color:#A3CD39;}
.zelenaTmavsi {color:#598B23;}

.malePismo {font-size:10px;}
.vetsiPismo {font-size:14px;}

.doprava {text-align:right;}
.nastred {text-align:center;}
.doleva {text-align:left;}


.leftClr {clear:left;width:1px;height:1px;overflow:hidden;} 
.hd{display:none;}
 





.obrazekDoleva {float:left;margin:0 20px 20px 0;}
.obrazekDoprava {float:right;margin:0 0 20px 20px;}
.obrazekDolevaMargin15 {float:left;margin:20px;}
.obrazekDopravaMargin15 {float:right;margin:20px;}
.noMargin {margin:0;}
.margin15 {margin:20px;}



div.pageGalleryBox {position:relative;width:100px;height:100px;overflow:hidden;float:left;margin:20px;border:1px solid #ccc;}
.obrazekFotogalerie {display:block;position:relative;width:auto;height:auto;float:left;overflow:hidden;vertical-align:middle;text-align:center;padding:2px;}
  .obrazekFotogalerie img {vertical-align:middle;text-align:center;}

p.link {background-color: #fff;color: #000;border:1px solid #ccc;background-image:url("system/link_48x48.png");background-repeat:no-repeat;padding:15px 15px 15px 100px;background-position:15px center;
           width:auto;font-size:16px;}
p.info {background-color: #fff;color: #000;border:1px solid #ccc;background-image:url("system/info_48x48.png");background-repeat:no-repeat;padding:15px 15px 15px 100px;background-position:15px center;
           width:auto;font-size:16px;}
p.ok {background-color: #fff;color: #000;border:1px solid #ccc;background-image:url("system/ok_48x48.png");background-repeat:no-repeat;padding:15px 15px 15px 100px;background-position:15px center;
           width:auto;font-size:16px;}
p.warning {background-color: #fff;color: #ff0000;border:1px solid #ccc;background-image:url("system/Warning_48x48.png");background-repeat:no-repeat;padding:15px 15px 15px 100px;background-position:15px center;
           width:auto;font-size:16px;}
p.SavedBox {background-color: #fff;color: #000;border:1px solid #ccc;background-image:url("system/Save-icon_48x48.png");background-repeat:no-repeat;padding:15px 15px 15px 100px;background-position:15px center;
           width:auto;font-size:24px;}
.socNtwBox {background-color: #f5f5f5;color: #000;border:1px solid #ccc;padding:15px;margin:20px;}           
  .socNtwBox h2 {padding:0;margin:0px 0px 15px 0px;}

body.bodyBg {background-image:url("images/allPageBg.jpg");background-repeat:repeat-x;background-color:#D7F4FC;}
#allPage {position:relative;width:100%;height:auto;overflow:hidden;background-image:url("images/mainBg.jpg");background-repeat:no-repeat;background-position:center top;}  
#mainPage{position:relative;margin: 0 auto;width:900px;height:auto;text-align:left;overflow:hidden;}  
  #headka {position:absolute;left:0;top:0;width:900px;height:170px;text-align:left;overflow:hidden;background-image:url("images/headBg.jpg");}
    #homeLink {display:block;width:370px;height:90px;position:absolute;left:35px;top:35px;text-decoration:none;overflow:hidden;}
    #headKontakt {position:absolute;left:650px;top:56px;width:223px;height:37px;text-align:left;overflow:hidden;line-height:37px;vertical-align:middle;text-align:center;color:#29B1CB;font-size:16px;}
    #mainMenu {position:absolute;left:0;top:127px;width:900px;height:43px;text-align:left;overflow:hidden;}
        #mainMenu a {display:block;width:auto;height:43px;float:left;text-decoration:none;overflow:hidden;padding:0 20px;line-height:43px;vertical-align:middle;text-align:center;font-size:14px;}
        a.unactiveMenu{background-color:trasparent;color:#666666;}
        a.unactiveMenu:hover {background-image:url("images/mainMenuActiveBg.jpg");color:#fff;}
        a.activeMenu {background-image:url("images/mainMenuActiveBg.jpg");color:#fff;}
        div.mainMenuSpacer {position:relative;width:1px;height:43px; overflow:hidden;background-image:url("images/menuSpacerBg.png");background-position:center center;float:left;}   
  #mainContent {position:relative;width:900px;height:auto;margin-top:170px;text-align:left;overflow:hidden;background-color:#fff;background-image:url("images/contentBg.jpg");background-repeat:repeat-y;
              min-height:800px;}
  

      div.contentSpacer {clear:both;margin:20px;width:860px;height:1px;background:#ccc;overflow:hidden;}  
      
      div.dvouSloupecBox {position:relative;width:860px;height:auto;min-height:205px;background-image:url("images/twoColsBoxBg.jpg");background-repeat:no-repeat;background-color:#eee;margin:20px;overflow:hidden;clear:both;}
        div.dvouSloupecBox h2 {line-height:36px;vertical-align:middle;margin:0 20px;}
        div.box240 {position:relative;width:430px;height:auto;float:left;overflow:hidden;margin:0;}
      div.rekliOnasBox {position:relative;width:860px;height:136px;background-image:url("images/rekliOnasBoxBg.png");background-repeat:no-repeat;background-color:#eee;margin:20px;overflow:hidden;clear:both;}
        div.rekliOnasBox h2 {margin-top:0px;}
        div.rekliOnasBoxContent{position:absolute;width:770px;height:105px;left:80px;top:30px;overflow:hidden;}
        div.rekliOnasBoxContent p {margin:10px 20px;color:#6D6D6D;font-size:12px;}    
      div.middleBox {clear:both;margin:20px;width:858px;height:auto;background-color: #f5f5f5;color: #000;border:1px solid #ccc;overflow:hidden;}  
            
                                  
  
  
  #foot {position:relative;width:900px;height:auto;min-height:50px;text-align:left;overflow:hidden;background-image:url("images/footBg.png");background-repeat:no-repeat;}     
  

/*strankovani*/
div.pages {margin:20px;clear:both;}
  div.pages span {display:block;width:30px;height:30px;float:left;overflow:hidden;border:1px solid transparent;text-align:center;line-height:30px;vertical-align:middle;margin-right:5px;}
  div.pages span.current {display:block;width:30px;height:30px;float:left;overflow:hidden;border:1px solid #FF7401;background-color:#FF7401;color:#fff;}
  div.pages a {display:block;width:30px;height:30px;float:left;overflow:hidden;border:1px solid #ccc;background-color:#ddd;color:#000;text-align:center;line-height:30px;vertical-align:middle;text-decoration:none;margin-right:5px;}
  div.pages a:hover {border:1px solid #000;}
  
/*easy slider */
#slideShowBox {position:relative;width:430px;height:200px;overflow:hidden;margin:10px 0;background-color:#FFF;}
#slider {position:relative;width:430px;height:200px;overflow:hidden;}
#navigaceSlider {display:none;}
  #navigaceSliderButtons {display:none;}
                      

        
/* Easy Slider */
  
	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#slider2{margin-top:1em;}
	#slider li, #slider2 li{ 
		width:750px;
		height:200px;
		overflow:hidden; 
		}	
    #slider a {margin:0 5px;}
    
    #prevBtn, #nextBtn{ 
    	display:none;
    	width:34px;
    	height:91px;
    	position:absolute;
    	left:0px;
    	top:55px;
    	}	
    #nextBtn{ 
    	left:979px;
    	}														
    #prevBtn a, #nextBtn a{  
    	display:none;
    	width:31px;
    	height:91px;
    	background:url("images/navLeft_34x91.jpg") no-repeat 0 0;
      text-decoration:none;	
    	}	
    #nextBtn a{ 
    	background:url("images/navRight_34x91.jpg") no-repeat 0 0;	
    	
    	}

  	ol#controls{
  		display:none;
      position:relative;width:350px;height:20px;overflow:hidden;
      margin: 0 auto;
  		padding:0;
  		height:14px;
      font-size:8px;	
  		}
  	ol#controls li{
  		display:none;
      margin:0 5px 0 0; 
  		padding:0;
  		float:left;
  		list-style:none;
  		height:14px;
  		line-height:14px;
  		}
  	ol#controls li a{
  		float:left;
  		height:14px;
  		line-height:14px;
  		background:#CCCCCC;
  		color:#fff;
  		padding:0 2px;
  		text-decoration:none;
  		}
  	ol#controls li.current a{
  		background:#C43209;
  		color:#fff;
  		}
  	ol#controls li a:focus, #prevBtn a:focus, #nextBtn a:focus{outline:none;}
	
/* // konec  Easy Slider */  